interactions:
- request:
    body: null
    headers:
      Authorization:
      - token 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
    method: GET
    uri: https://api.github.com/repos/lmoreira-runtime/lm-rag-onboarding/issues?state=open&per_page=100
  response:
    body:
      string: '[{"url":"https://api.github.com/repos/lmoreira-runtime/lm-rag-onboarding/issues/3","repository_url":"https://api.github.com/repos/lmoreira-runtime/lm-rag-onboarding","labels_url":"https://api.github.com/repos/lmoreira-runtime/lm-rag-onboarding/issues/3/labels{/name}","comments_url":"https://api.github.com/repos/lmoreira-runtime/lm-rag-onboarding/issues/3/comments","events_url":"https://api.github.com/repos/lmoreira-runtime/lm-rag-onboarding/issues/3/events","html_url":"https://github.com/lmoreira-runtime/lm-rag-onboarding/issues/3","id":2373012588,"node_id":"I_kwDOMEpq7M6NcUxs","number":3,"title":"Test
        Project","user":{"login":"lmoreira-runtime","id":165663989,"node_id":"U_kgDOCd_U9Q","avatar_url":"https://avatars.githubusercontent.com/u/165663989?v=4","gravatar_id":"","url":"https://api.github.com/users/lmoreira-runtime","html_url":"https://github.com/lmoreira-runtime","followers_url":"https://api.github.com/users/lmoreira-runtime/followers","following_url":"https://api.github.com/users/lmoreira-runtime/following{/other_user}","gists_url":"https://api.github.com/users/lmoreira-runtime/gists{/gist_id}","starred_url":"https://api.github.com/users/lmoreira-runtime/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/lmoreira-runtime/subscriptions","organizations_url":"https://api.github.com/users/lmoreira-runtime/orgs","repos_url":"https://api.github.com/users/lmoreira-runtime/repos","events_url":"https://api.github.com/users/lmoreira-runtime/events{/privacy}","received_events_url":"https://api.github.com/users/lmoreira-runtime/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2024-06-25T15:39:06Z","updated_at":"2024-06-25T15:39:06Z","closed_at":null,"author_association":"OWNER","active_lock_reason":null,"body":"##
        Project Definition: Name Processor\r\n\r\n### Project Overview\r\nThe Name
        Processor project is designed to read a list of names from an input file,
        process the data by sorting the names and removing duplicates, and then write
        the cleaned list to an output file. This project serves as an introduction
        to file handling, data manipulation, and error handling in Python.\r\n\r\n###
        Objectives\r\n- **Read Input**: Read names from a specif[...]
