interactions:
- request:
    body: null
    headers:
      Authorization:
      - token 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
    method: GET
    uri: https://api.github.com/repos/lmoreira-runtime/lm-rag-onboarding/issues/1
  response:
    body:
      string: '{"url":"https://api.github.com/repos/lmoreira-runtime/lm-rag-onboarding/issues/1","repository_url":"https://api.github.com/repos/lmoreira-runtime/lm-rag-onboarding","labels_url":"https://api.github.com/repos/lmoreira-runtime/lm-rag-onboarding/issues/1/labels{/name}","comments_url":"https://api.github.com/repos/lmoreira-runtime/lm-rag-onboarding/issues/1/comments","events_url":"https://api.github.com/repos/lmoreira-runtime/lm-rag-onboarding/issues/1/events","html_url":"https://github.com/lmoreira-runtime/lm-rag-onboarding/issues/1","id":2357843932,"node_id":"I_kwDOMEpq7M6Midfc","number":1,"title":"TEST
        ISSUE","user":{"login":"lmoreira-runtime","id":165663989,"node_id":"U_kgDOCd_U9Q","avatar_url":"https://avatars.githubusercontent.com/u/165663989?v=4","gravatar_id":"","url":"https://api.github.com/users/lmoreira-runtime","html_url":"https://github.com/lmoreira-runtime","followers_url":"https://api.github.com/users/lmoreira-runtime/followers","following_url":"https://api.github.com/users/lmoreira-runtime/following{/other_user}","gists_url":"https://api.github.com/users/lmoreira-runtime/gists{/gist_id}","starred_url":"https://api.github.com/users/lmoreira-runtime/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/lmoreira-runtime/subscriptions","organizations_url":"https://api.github.com/users/lmoreira-runtime/orgs","repos_url":"https://api.github.com/users/lmoreira-runtime/repos","events_url":"https://api.github.com/users/lmoreira-runtime/events{/privacy}","received_events_url":"https://api.github.com/users/lmoreira-runtime/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":{"login":"lmoreira-runtime","id":165663989,"node_id":"U_kgDOCd_U9Q","avatar_url":"https://avatars.githubusercontent.com/u/165663989?v=4","gravatar_id":"","url":"https://api.github.com/users/lmoreira-runtime","html_url":"https://github.com/lmoreira-runtime","followers_url":"https://api.github.com/users/lmoreira-runtime/followers","following_url":"https://api.github.com/users/lmoreira-runtime/following{/other_user}","gists_url":"https://api.github.com/users/lmoreira-runtime/gists{/gist_id}","starred_url":"https://api.github.com/users/lmoreira-runtime/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/lmoreira-runtime/subscriptions","organizations_url":"https://api.github.com/users/lmoreira-runtime/orgs","repos_url":"https://api.github.com/users/lmoreira-runtime/repos","events_url":"https://api.github.com/users/lmoreira-runtime/events{/privacy}","received_events_url":"https://api.github.com/users/lmoreira-runtime/received_events","type":"User","site_admin":false},"assignees":[{"login":"lmoreira-runtime","id":165663989,"node_id":"U_kgDOCd_U9Q","avatar_url":"https://avatars.githubusercontent.com/u/165663989?v=4","gravatar_id":"","url":"https://api.github.com/users/lmoreira-runtime","html_url":"https://github.com/lmoreira-runtime","followers_url":"https://api.github.com/users/lmoreira-runtime/followers","following_url":"https://api.github.com/users/lmoreira-runtime/following{/other_user}","gists_url":"https://api.github.com/users/lmoreira-runtime/gists{/gist_id}","starred_url":"https://api.github.com/users/lmoreira-runtime/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/lmoreira-runtime/subscriptions","organizations_url":"https://api.github.com/users/lmoreira-runtime/orgs","repos_url":"https://api.github.com/users/lmoreira-runtime/repos","events_url":"https://api.github.com/users/lmoreira-runtime/events{/privacy}","received_events_url":"https://api.github.com/users/lmoreira-runtime/received_events","type":"User","site_admin":false}],"milestone":null,"comments":0,"created_at":"2024-06-17T17:20:50Z","updated_at":"2024-06-21T09:31:03Z","closed_at":null,"author_association":"OWNER","active_lock_reason":null,"body":"Develop
        a \"Hello World\" in python.","closed_by":null,"reactions":{"url":"https://api.github.com/repos/lmoreira-runtime/lm-rag-onboarding/issues/1/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"timeline_url":"https://api.github.com/repos/lmoreira-runtime/lm-rag-onboarding/issues/1/timeline","performed_via_github_app":null,"state_reason":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8dd400c15b4de564a831ef072fc66b8cee6300999cc82a9512a9f78839de1be1"
      Last-Modified:
      - Fri, 21 Jun 2024 09:31:03 GMT
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4998'
      X-RateLimit-Reset:
      - '1719506100'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '2'
      github-authentication-token-expiration:
      - 2024-09-15 16:52:02 +0100
      x-accepted-github-permissions:
      - issues=read
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
version: 1
